<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:oracle:thin:@localhost:1521:XE</property>
        <property name="connection.driver_class">oracle.jdbc.OracleDriver</property>
        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->
        <property name="connection.username">webproject</property>
        <property name="connection.password">webproject</property>
        <property name="hibernate.connection.pool_size">1</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle8iDialect</property>

        <!-- DB schema will be updated if needed -->
        <property name="hbm2ddl.auto">update</property>

        <mapping class="com.webproject.entity.ProductTableEntity"/>



    </session-factory>

</hibernate-configuration>